NODE_IP=127.0.0.1

DEBUG=True

REGION_ID=cn-dev-1

PUBLIC_PORT=9002
MANAGE_PORT=12900
MANAGE_KEY=key
MANAGE_SECRET=secret

OPENSTACK_KEYSTONE_ENDPOINT=http://127.0.0.1:5000/v3
OPENSTACK_ADMIN_NAME=admin
OPENSTACK_ADMIN_PASSWORD=nomoresecret

DB_HOST=127.0.0.1
DB_PORT=12306
DB_USER=root
DB_PASSWORD=password
DB_DATABASE=ecs

ERASE_DELAY=7200
TRY_PERIOD=3600


WORKER_PICK_SIZE=10
WORKER_EXEC_SIZE=10
WORKER_EXEC_TIMEOUT=600


SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
NOTIFY_SMS_URL=http://127.0.0.1:9007/send_sms
NOTIFY_SMS_KEY=key
NOTIFY_SMS_SECRET=secret
NOTIFY_SMS_MOBILE=18701531896,18600475017


BILLING_ENDPOINT=http://127.0.0.1:9008
BILLING_KEY=key
BILLING_SECRET=secret
BILLING_FLAVORS=1c1g,1c2g,1c4g,1c8g,2c2g,2c4g,2c8g,2c16g,4c4g,4c8g,4c16g,4c32g,8c8g,8c16g,8c32g,8c64g,16c16g,16c32g,16c64g


LOADBALANCER_LISTENER_LIMIT=10
LOADBALANCER_BACKEND_LIMIT=30
